.company-logo{
    position:fixed;
	top:0;
	left:0;
}

.society-logo{
    position:fixed;
	top:0;
	right: 0;
}

.example-card {
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    border:1px solid lightgrey;
}

.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .software-img{
    width: 200px;
    height: 75px;
    margin: 10px auto;
}